%h1 センセキキロク
= form_tag(stat_ink_ifs_new_path, method: :get) do
  = submit_tag("ガチマッチ", name: :ranked, class: "btn btn-primary btn-block")
  = submit_tag("ナワバリバトル", name: :regular, class: "btn btn-primary btn-block")
  = submit_tag("フェスマッチ", name: :festival, class: "btn btn-primary btn-block")
